* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
    background: #1E1E1E;
  }

  ul::-webkit-scrollbar {
    display: none;
  }
   
  ul::-webkit-scrollbar-thumb {
    display: none;
    background-color: silver;
    outline: none;
    border-radius: 20px;
  }
  
  .app_body {
    display: flex;
    flex-direction: row; 
    background-color: #1E1E1E;
    transition: 1s;
  }
  
  .sidebar {
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    background: #151515;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    transform: translateX(250px);
    transition: .3s;
  }
  
  .sidebar p {
    width: 100px;
    cursor: pointer;
    background: transparent;
    color: white;
    border: none;
    padding: 10px 0;
    margin: 0 auto;
    font-size: 14pt;
    width: 70px;
    display: flex;
    justify-content: space-between;
  }

  .sidebar li {
      cursor: pointer;
  }

  details {
      transition: height .5s ease;
      overflow: hidden;
      border-bottom: solid silver 1px;
  }

  details, details summary {
    padding-left:0;
    background-image:none;
    -webkit-appearance:none;
    list-style: none;
}
  
  details:not([open]) {
      height: 50PX;
  }
  
  details[open] {
      height: 200PX;
  }

  summary {
      list-style-image: none;
      cursor: pointer;
  }

  ul {
    font-size: 14pt;
    list-style: none;
    padding: 0 0 50px 30px;
    height: 180px;
    overflow: scroll;
    color: white;
  }

  
  li {
    padding: 5px;
  }

  li:hover {
    background: skyblue;
  }

  .fas {
    transform: translateY(-3px);
    transition: .5s;
  }

  .up {
    transform: translateY(-3px);
    transition: .5s;
    transform: rotate(180deg);
    color: #22DC76;
  }
    
  .box_one {
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }
  
  .app_title {
    color: silver;
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
    text-align: center;
    transition: .3s;
  }
  
  textarea {
    width: 1000px;
    height: 73vh;
    display: block;
    background: none;
    font-family: sans-serif;
    color: white;
    padding: 15px;
    border: none;
    outline: none;
    resize: none;
    margin: auto;
    font-size: 14pt;
  }
  
  .stats {
    color: silver;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
    height: 100px;
    position: fixed;
    bottom: 0;
    transition: .3s;
  }
  
  .count {
    width: 200px;
  }
  
  .count_p{
    display: inline-block;
    font-size: 14pt;
  }
  
  .number {
    margin-left: 10px;
    color: #22DC76;
    display: inline-block;
    font-size: 20px;
    color: #22DC76;
  }
  
  .right_side {
    width: 10vw;
    height: 100vh;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    pointer-events: initial;
  }

  /*----------------------- CLEAR MODE --------------------------------- */

  .stats_clear {
    transform: translateY(200px);
    transition: .3s;
  }

  .app_title_clear {
    transform: translateY(-200px);
    transition: .3s;
  }

  .clear_mode {
    background: none;
    height: 40px;
    border: none;
    color: rgb(86, 127, 173);
    cursor: pointer;
    font-size: 13pt;
    margin-top: 5px;
    transition: 1s;
  }

  .clear_mode:hover {
    color: black;
    background:rgb(45, 66, 90);
  }

/*----------------------- LIGHT/DARK MODE --------------------------------- */

.light_mode {
  border: none;
  margin: auto auto 100px auto;
  cursor: pointer;
  width: 80px;
  height: 35px;
  border-radius: 30px;
  background:rgb(45, 66, 90);
}

.switch {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: rgb(221, 255, 252);
  padding: 0;
  margin: 0;
  transition: 1s;
}

.switch_off {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: rgb(221, 255, 252);
  transform: translateX(38px);
  transition: 1s;
}

.app_body_light {
  background: #dee4e7;
  transition: 1s;
  padding: 0;
}

